@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");

/*button {
	width: 500px;
	height: 500px;
}*/

#buttonDiv {
	text-align: center;
}

.winner {
	font-size: 80px;
}