<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="author" content="Jack Whitesell, George Ng">
        <meta name="description" content="ADP Prize App'">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>

        <link rel="stylesheet" href="css/main.css">
        <script type="text/javascript" src="js/names.js"></script>

        <title>ADP Raffle</title>
    </head>

    <body ng-app="myApp" ng-controller="myCtrl">
        <div>
            <div id="buttonDiv">
                <button type="button" class="btn btn-primary" ng-click="getNames()">Who Wins?!</button>
                <div ng-hide="!winnerClick" id="winner">
                    <p id="winnerText">{{winner}}</p>
                    <br>
                    <img src="gif/Dance/0a41fc792d95daf047d5758617f082a5783df496_hq.gif">
                    <img src="gif/Dance/0dE4py.gif">
                    <img src="gif/Dance/04aa00b8ed315c357f7b5f339ed5cd377d0cc772_hq.gif">
                    <img src="gif/Dance/15 - 1.gif">
                    <img src="gif/Dance/54a3eeabd91be1e1bfb483982fb77deaf0ae8268_hq.gif">
                    <img src="gif/Dance/353aef2bc0496c34f72988192008359a3ceb3225_hq.gif">
                    <img src="gif/Dance/1240278979845.gif">
                    <img src="gif/Dance/Anime-dance_o_826631.gif">
                    <img src="gif/Dance/Cqxepz.gif">
                    <img src="gif/Dance/Dance 015.gif">
                    <img src="gif/Dance/giphy.gif">
                    <img src="gif/Dance/giphy (1).gif">
                    <img src="gif/Dance/giphy (2).gif">
                    <img src="gif/Dance/giphy (3).gif">
                    <img src="gif/Dance/tumblr_mwlhl8maus1s813dho4_500.gif">
                    <img src="gif/Dance/tumblr_mzv41v0zHF1t3apmto4_250.gif">
                    <img src="gif/Dance/tumblr_n85wl1Fi8h1qfhv5bo1_500.gif">
                    <img src="gif/Dance/tumblr_nj2s64nlZm1r41iwko1_500.gif">
                    <img src="gif/Dance/VbK1shU.gif">
                </div>
            </div>

            <div class="signIn" ng-hide="signInClick">
                <button class="btn btn-info" ng-click="signInClick = true">Sign In</button>
            </div>

            <div ng-show="signInClick && !loggedIn">
                <form name="signInForm">
                    <label for="email">Email:</label>
                    <input id="email" class="form-control" type="email" ng-model="email" required>
                    <label for="password">Password:</label>
                    <input id="password" class="form-control" type="password" ng-model="password" required>
                    <button class="btn btn-primary" ng-disabled="signInForm.$invalid" ng-click="signIn()">Submit</button>
                    <button class="btn btn-warning" ng-click="signInClick = false">Cancel</button>
                </form>
            </div>

            <div ng-show="loggedIn">
                <div ng-hide="addAdminClick">
                    <button class="btn btn-info" ng-click="addAdminClick = true">Add New Admin</button>
                </div>

                <div ng-show="addAdminClick">
                    <form name="adminForm">
                        <label for="email">Email:</label>
                        <input id="email" class="form-control" type="email" ng-model="email" required>
                        <label for="password">Password:</label>
                        <input id="password" class="form-control" type="password" ng-model="password" required>
                        <button class="btn btn-primary" ng-disabled="adminForm.$invalid" ng-click="signUp()">Submit</button>
                        <button class="btn btn-warning" ng-click="addAdminClick = false">Cancel</button>
                    </form>
                </div>

                <div ng-hide="addMemberClick">
                    <button class="btn btn-info" ng-click="addMemberClick = true">Add Member</button>
                </div>

                <div ng-show="addMemberClick">
                    <form name="memberForm">
                        <label for="name">Name:</label>
                        <input id="name" class="form-control" type="text" ng-model="name" required>
                        <label for="quarter">Which quarters are they a member?</label>
                        <input id="quarter" class="form-control" type="text" ng-model="quarter" required>
                        <label for="gif1">Add a link for a gif:</label>
                        <input id="gif1" class="form-control" type="text" ng-model="gif1" required>
                        <label for="gif2">Add another gif:</label>
                        <input id="gif2" class="form-control" type="text" ng-model="gif2" required>
                        <button class="btn btn-primary" ng-disabled="memberForm.$invalid" ng-click="addName()">Submit</button>
                        <button class="btn btn-warning" ng-click="addMemberClick = false">Cancel</button>
                    </form>
                </div>

                <div>
                    <div ng-repeat="member in members | orderBy: 'quarter'">
                        <p>{{member.name}}</p>
                        <p>{{member.quarter}}</p>
                        <button class="btn btn-danger" ng-click="removeMember(member)">Remove Member</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>