<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="author" content="Jack Whitesell, George Ng">
        <meta name="description" content="ADP Prize App'">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>

        <link rel="stylesheet" href="css/main.css">
        <script type="text/javascript" src="js/names.js"></script>

        <title>ADP Raffle</title>
    </head>

    <body ng-app="myApp" ng-controller="myCtrl">
        <div>
            <div id="buttonDiv">
                <button type="button" class="btn btn-primary" ng-click="getNames()">Who Wins?!</button>
                <div ng-hide="!winnerClick" id="winner">
                    <p id="winnerText">{{winner}}</p>
                    <br>
                    <img src="gif/GIF-Light-Yagami-s-Evil-Laugh-Death-Note-anime-35890756-300-169.gif">
                    <img src="gif/hah.gif">
                    <img src="gif/tumblr_inline_o0np8dlPOF1tzwkwy_500.gif">
                    <img src="gif/04aa00b8ed315c357f7b5f339ed5cd377d0cc772_hq1.gif">
                    <img src="gif/1458107651-ad06b0abd1e773bf76c5175559ec07c7.gif">
                    <img src="gif/tumblr_inline_o0ns0imvZp1tzwkwy_500.gif">
                    <img src="gif/b32a6fbbdeb2dcb94121e0bddefe4ee2c548b202_hq.gif">
                    <img src="gif/zcMwgrO.gif">
                    <img src="gif/LS2ctPF.gif">
                    <img src="gif/giphy (8).gif">
                    <img src="gif/5YFJ-Q.gif">
                    <img src="gif/6517ee055ecef8097be5e28bef8ed08e639bb824_hq.gif">
                    <img src="gif/tumblr_ndkfg3kl7G1tlgkylo1_400.gif">
                    <img src="gif/tumblr_mu4dp0xajn1rb06tgo1_r1_500_zps3714dc8f.gif">
                    <img src="gif/b6a0fbf99d0957cc5c1d94e6d3b119fc4af1b21d_hq.gif">
                    <img src="gif/2668e52ae7db2848a62158196aacb5c3.jpg">
                    <img src="gif/es7jgIX.gif">
                    <img src="gif/tumblr_ly4wbqA6S81qcfode.gif">
                    <img src="gif/tumblr_mki966UMRI1qejvrxo1_500.gif">
                    <img src="gif/tumblr_mmebp5wlyA1s79pl3o6_500.gif">
                    <img src="gif/giphy (9).gif">
                    <img src="gif/tumblr_inline_o1jjl6Y2AD1r8a94o_500.gif">
                    
                </div>
            </div>

            <div class="signIn" ng-hide="signInClick">
                <button class="btn btn-info" ng-click="signInClick = true">Sign In</button>
            </div>

            <div ng-show="signInClick && !loggedIn">
                <form name="signInForm">
                    <label for="email">Email:</label>
                    <input id="email" class="form-control" type="email" ng-model="email" required>
                    <label for="password">Password:</label>
                    <input id="password" class="form-control" type="password" ng-model="password" required>
                    <button class="btn btn-primary" ng-disabled="signInForm.$invalid" ng-click="signIn()">Submit</button>
                    <button class="btn btn-warning" ng-click="signInClick = false">Cancel</button>
                </form>
            </div>

            <div ng-show="loggedIn">
                <div ng-hide="addAdminClick">
                    <button class="btn btn-info" ng-click="addAdminClick = true">Add New Admin</button>
                </div>

                <div ng-show="addAdminClick">
                    <form name="adminForm">
                        <label for="email">Email:</label>
                        <input id="email" class="form-control" type="email" ng-model="email" required>
                        <label for="password">Password:</label>
                        <input id="password" class="form-control" type="password" ng-model="password" required>
                        <button class="btn btn-primary" ng-disabled="adminForm.$invalid" ng-click="signUp()">Submit</button>
                        <button class="btn btn-warning" ng-click="addAdminClick = false">Cancel</button>
                    </form>
                </div>

                <div ng-hide="addMemberClick">
                    <button class="btn btn-info" ng-click="addMemberClick = true">Add Member</button>
                </div>

                <div ng-show="addMemberClick">
                    <form name="memberForm">
                        <label for="name">Name:</label>
                        <input id="name" class="form-control" type="text" ng-model="name" required>
                        <label for="quarter">Which quarters are they a member?</label>
                        <input id="quarter" class="form-control" type="text" ng-model="quarter" required>
                        <label for="gif1">Add a link for a gif:</label>
                        <input id="gif1" class="form-control" type="text" ng-model="gif1" required>
                        <label for="gif2">Add another gif:</label>
                        <input id="gif2" class="form-control" type="text" ng-model="gif2" required>
                        <button class="btn btn-primary" ng-disabled="memberForm.$invalid" ng-click="addName()">Submit</button>
                        <button class="btn btn-warning" ng-click="addMemberClick = false">Cancel</button>
                    </form>
                </div>

                <div>
                    <div ng-repeat="member in members | orderBy: 'quarter'">
                        <p>{{member.name}}</p>
                        <p>{{member.quarter}}</p>
                        <button class="btn btn-danger" ng-click="removeMember(member)">Remove Member</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>